*{
    color: blueviolet;
}

.titulo{
    color: blue;
    text-align: center;
}
.mapa{
    width: 100%;
    height: 300px;
}
.imagenPrincipal{
    width: 50%;
    margin-left: 25%;
}
.video1{
    width: 80%;
}



.margen{
    margin: 10%;
}


.paisaje{
    width: 40%;
}

.paisaje{
    width: 50%;
}

.paisaje{
    width: 80%;
}