*{
    margin: 0;
    padding: 0;
}

.padre{
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-rows: 2fr 3fr;


}

.hijo{
    background-color: aqua;
    border: 1px solid #000;

}
